# Custom
.fleet
.idea
.vscode
~$warframe.xlsx
.DS_Store
.data
tmp*

# Docker
.postgresql
.redis
.pnpm

api/public/vendor
api/.phpstorm.meta.php
api/_ide_helper.php
api/_ide_helper_models.php

web/.env


# API
api/.phpunit.cache
api/node_modules
api/public/build
api/public/hot
api/public/storage
api/storage/*.key
api/vendor
api/.env
api/.env.backup
api/.env.production
api/.phpunit.result.cache
api/Homestead.json
api/Homestead.yaml
api/auth.json
api/npm-debug.log
api/yarn-error.log
api/.fleet
api/.idea
api/.vscode

# WEB
web/logs
web/*.log
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*
web/pnpm-debug.log*
web/lerna-debug.log*

web/node_modules
web/dist
web/dist-ssr
web/*.local

web/.vscode/*
web/!.vscode/extensions.json
web/.idea
web/.DS_Store
web/*.suo
web/*.ntvs*
web/*.njsproj
web/*.sln
web/*.sw?
